---


const {dades} = Astro.props;

const {posicio, descripcio, empresa, data, slug} = dades;

---

<div class="col col-12 col-md-6 mb-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{posicio} - {empresa}</h5>
          <p class="card-text">{data} {descripcio}</p>
        </div>
      </div>
</div>